
.recipe-title {
    text-align: center;
}

.recipe-description {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.recipe-image {
    width: 350px;
    height: fit-content;
}

.ingredients-table {
    border-collapse: separate;
    border-spacing: 20px 7px;
}


.instruction-list {
    padding: 7px 30px 0;
    list-style-position: inside;
    list-style: decimal;
    max-width: 800px;
}

.instruction-list-item {
    font-size: 15px;
}