.owner-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.owner-info-title {
    margin: 0;
    font-size: 52px;
    color: #3d3d40;
    letter-spacing: 3px;
}

.owner-info-description {
    letter-spacing: 3px;
    color: #010101;
    font-size: 20px;
    text-transform: uppercase;
}