.popup {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
    transition: visibility 0.5s, opacity 0.5s linear;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.popup-container {
    position: relative;
    width: 850px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    overflow: scroll;
}

.popup-content-container {
    position: relative;
    width: 100%;
}

.popup-title {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 25px;
    color: #3d3d40;
}

.popup-description {
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    color: #3d3d40;
}

.popup-image {
    width: 350px;
    border-radius: 15px;
    height:fit-content;
}

.ingredients-table {
    font-size: 15px;
    border-collapse: separate;
    text-align: left;
    width: 100%;
    border-spacing: 20px 7px;
}

.ingredients-title {
    font-size: 17px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #3d3d40;
}

.instruction-title {
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    width: 100%;
    display: inline-block;
}

.instruction-list {
    padding: 7px 30px 0;
    margin: 0;
    list-style-position: inside;
}

.instruction-list-item {
    font-size: 15px;
}

.popup-button {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-image: url(/src/images/close.svg);
    background-color: rgb(249, 250, 252);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(61, 61, 64, 0.15);
    box-shadow: 5px 5px 5px rgba(61, 61, 64, 0.15);
    outline: none;
    opacity: 1;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.popup-button:hover {
    transform: scale(110%);
    transition: transform 0.5s;
}

@media (max-width: 1280px) {
    .popup-container {
        width: 700px;
    }

    .popup-description {
        column-gap: 40px;
    }
}

@media (max-width: 1024px) {
    .popup-image {
        width: 300px;
    }

    .popup-container {
        width: 550px;
        max-height: 600px;
    } 
}

@media (max-width: 768px) {
    .popup-container {
        width: 400px;
        box-sizing: border-box;
    }

    .popup-title {
        max-width: 250px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .popup-description {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        margin-bottom: 15px;
    }

    .ingredients-table {
        font-size: 15px;
        border-spacing: 20px 1px;
    }
}

@media (max-width: 550px) {
    .popup-container {
        width: 300px;
        padding: 15px;
    }

    .popup-image {
        width: 250px;
    }

    .popup-button {
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }

    .ingredients-title, .instruction-title {
        max-width: 250px;
    }
}