.app {
  width: 100vw;
  min-width: 320px;
}

/* для секций */
.section {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* классы для цвета текстовых элементов */
.dark-color-text {
  color: var(--color1);
}

.green-color-text {
  color: var(--color2);
}

.white-color-text {
  color: var(--color4);
}

/* классы для определения размера шрифта текстовых элементов */
.big-text {
  font-size: 0.45rem;
}

.medium-text {
  font-size: 0.2rem;
}

.small-text {
  font-size: 0.15rem;
}

/* расстояние между буквами */
.small-letter-spacing {
  letter-spacing: 2px;
}

/* размер радиуса */
.medium-border-radius {
  border-radius: 15px;
}

.small-border-radius {
  border-radius: 5px;
}

/* текст в верхнем регистре */
.upper-text {
  text-transform: uppercase;
}

.contacts-text,
.main-text,
.recipe-title,
.nutrition__text-span {
  border-bottom: 3px double var(--color2);
}

/* активная кнопка или ссылка */
.active-element::before,
.active-element::after {
  content: "";
  height: 14px;
  width: 14px;
  opacity: 1;
  position: absolute;
  transition: all 0.6s;
}
/* стиль изначально скрыт от пользователя */
.active-element-implicit::before,
.active-element-implicit::after {
  opacity: 0;
}

.active-element::before {
  top: 0;
  left: 0;
  border-top: 1px solid var(--color2);
  border-left: 1px solid var(--color2);
}

.active-element::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--color2);
  border-right: 1px solid var(--color2);
}

.active-element:hover::before,
.active-element:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* стиль для того чтобы понимать, что данная страница выбрана */
.active-element_checked::before,
.active-element_checked::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.page-not-found__title,
.page-not-found__description,
.recipe-title {
  margin: 10px 0;
}

/* картинки на фоне */
.app__background-image {
  position: absolute;
  z-index: -3;
  opacity: 0.05;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.app__background-image_type_broccoli {
  top: 70px;
  right: 70px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  background-image: url(../../images/markers/lunch.svg);
}

.app__background-image_type_apple {
  bottom: 0;
  left: 70px;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  background-image: url(../../images/markers/apple.svg);
}

@media (max-width: 1024px) {
  .app__background-image {
    width: 300px;
    height: 300px;
  }

  .app__background-image_type_broccoli {
    right: 50px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  .app__background-image_type_apple {
    left: 50px;
  }
}

.contacts-text,
.contacts-title,
.contacts-form,
.main-text,
.main-title,
.main-description {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section {
    margin: 20px 0;
  }

  .page-not-found__title,
  .page-not-found__description,
  .recipe-title {
    margin: 7px 0;
  }

  .app__background-image {
    width: 200px;
    height: 200px;
  }

  .app__background-image_type_broccoli {
    right: 30px;
  }

  .app__background-image_type_apple {
    left: 30px;
    bottom: 70px;
  }

  .contacts-main-image,
  .contacts-text,
  .contacts-title,
  .contacts-form {
    margin-top: 15px;
  }
}
