.app {
  width: 100vw;
  min-width: 320px;
}

/* для секции */
.section {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-color-text {
  color: var(--color1);
}

.green-color-text {
  color: var(--color2)
}

.white-color-text {
  color: var(--color4);
}

.big-text {
  font-size: 0.45rem;
}

.medium-text {
  font-size: 0.2rem;
}

.small-text {
  font-size: 0.15rem;
}

.small-letter-spacing {
  letter-spacing: 2px;
}

.medium-border-radius {
  border-radius: 15px;
}

.upper-text {
  text-transform: uppercase;
}

.page-not-found__title,
.page-not-found__description,
.recipe-title {
  margin: 10px 0;
}

input,
textarea {
  border-radius: 5px;
}

.navigation-link::before,
.navigation-link::after,
.nav-tab-main-link::before,
.nav-tab-main-link::after,
.contacts-button::before,
.contacts-button::after,
.about-link::before,
.about-link::after {
  content: "";
  height: 14px;
  width: 14px;
  opacity: 1;
  position: absolute;
  transition: all 0.6s;
}

.navigation-link::before,
.navigation-link::after {
  content: "";
  height: 14px;
  width: 14px;
  opacity: 0;
  position: absolute;
  transition: all 0.6s;
}

.navigation-link::before,
.nav-tab-main-link::before,
.contacts-button::before,
.about-link::before {
  top: 0;
  left: 0;
  border-top: 1px solid var(--color2);
  border-left: 1px solid var(--color2);
}

.navigation-link::after,
.nav-tab-main-link::after,
.contacts-button::after,
.about-link::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--color2);
  border-right: 1px solid var(--color2);
}

.navigation-link:hover::before,
.navigation-link:hover::after,
.nav-tab-main-link:hover::before,
.nav-tab-main-link:hover::after,
.contacts-button:hover::before,
.contacts-button:hover::after,
.about-link:hover::before,
.about-link:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.3s;
}

/* картинки на фоне */
.background-image {
  position: absolute;
  z-index: -3;
  opacity: 0.05;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image_broccoli {
  top: 70px;
  right: 70px;
  transform: rotate(30deg);
  background-image: url(../../images/lunch.svg);
}

.background-image_apple {
  bottom: 0;
  left: 70px;
  transform: rotate(210deg);
  background-image: url(../../images/apple.svg);
}

@media (max-width: 1024px) {
  .background-image {
    width: 300px;
    height: 300px;
  }

  .background-image_broccoli {
    right: 50px;
    transform: rotate(30deg);
  }

  .background-image_apple {
    left: 50px;
  }
}

.contacts-main-image,
.contacts-text,
.contacts-title,
.contacts-form,
.main-text,
.main-title,
.main-description {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section {
    margin: 20px 0;
  }

  header,
  footer {
    padding: 7px 15px;
  }

  .page-not-found__title,
  .page-not-found__description,
  .recipe-title {
    margin: 7px 0;
  }

  .background-image {
    width: 200px;
    height: 200px;
  }

  .background-image_broccoli {
    right: 30px;
    transform: rotate(30deg);
  }

  .background-image_apple {
    left: 30px;
    bottom: 70px;
  }

  .contacts-main-image,
  .contacts-text,
  .contacts-title,
  .contacts-form {
    margin-top: 15px;
  }
}
