.all-categories {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-categories-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.all-categories-title {
    margin: 0;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: #26d0aa;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.all-categories:before{ 
    content: " ";
    background: #e3e4e6;
    width: 2px;
    height: 100%;
    left: -15px;
    position: absolute;
  }