.main__image-container {
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: center;
}

.main__image {
    width: 300px;
}
/* сделать единый (с контактами) и вынести в индекс ссс */
.main-text {
    display: inline-block;
}