.main__image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  min-width: 300px;
  max-width: 768px;
}

.main-text {
  display: inline-block;
}

.main-title,
.main-description {
  text-align: center;
  max-width: 600px;
}

.main-title {
  line-height: 1;
}

.about-link {
  margin-top: 15px;
  position: relative;
  padding: 14px 20px;
}

.main__items {
  padding: 15px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 15px 400px;
  grid-template-columns: repeat(2, 400px);
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-title,
  .main-description {
    max-width: 300px;
  }
}
