.navigation {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 10px;
}

.navigation-link {
    text-decoration: none;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 500;
    color: #010101;
    font-size: 15px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.navigation-link:hover {
    text-decoration: underline;
    color: #26d0aa;
    cursor: pointer;
}

.navigation-link_checked {
    text-decoration: underline;
    color: #26d0aa;
}

.categories {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-title {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 500;
    color: #010101;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.categories-title:hover {
    text-decoration: underline;
    color: #26d0aa;
 }

.categories__list {
    width: 100%;
    padding: 5px 0 5px;
    list-style: none;
    position: absolute;
    top: 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    background-color: #f9fafc;
    box-shadow: 5px 5px 5px #e3e4e6;
    transition: opacity 0.9s ease;
}

.categories:hover .categories__list  {
    opacity: 1;
}

.categories__item {
    text-decoration: none;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 500;
    color: #010101;
    font-size: 12px;
    transition: all 0.5s ease;
}

.categories__item:hover {
    text-decoration: underline;
    color: #26d0aa;
    cursor: pointer;
}