.navigation {
  width: 40%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.navigation-link,
.categories-title {
  position: relative;
  padding: 5px;
  text-transform: uppercase;
}

.categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-title {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.categories-title:hover {
  color: var(--color2);
}

.categories__list {
  width: 120%;
  position: absolute;
  top: 40px;
  padding-left: 10px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 10px;
  background-color: var(--color4);
  -webkit-box-shadow: 5px 5px 5px var(--color5);
  box-shadow: 5px 5px 5px var(--color5);
  -webkit-transition: opacity 0.9s ease;
  -o-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
  list-style-position: inside;
}

.categories:hover .categories__list {
  opacity: 1;
}

.categories__item {
  cursor: pointer;
  -webkit-transition: list-style-image 0.3s ease;
  -o-transition: list-style-image 0.3s ease;
  transition: list-style-image 0.3s ease;
}

/* маркеры для выподающего списка (обычные и при наведении) */
.categories__item_type_breakfast {
  list-style-image: url("../../images/markers/breakfast.svg");
}

.categories__item_type_breakfast:hover {
  list-style-image: url("../../images/markers/breakfast-hover.svg");
}

.categories__item_type_lunch {
  list-style-image: url("/src/images/markers/lunch.svg");
}

.categories__item_type_lunch:hover {
  list-style-image: url("/src/images/markers/lunch-hover.svg");
}

.categories__item_type_dinner {
  list-style-image: url("/src/images/markers/dinner.svg");
}

.categories__item_type_dinner:hover {
  list-style-image: url("/src/images/markers/dinner-hover.svg");
}

.categories__item_type_snack {
  list-style-image: url("/src/images/markers/apple.svg");
}

.categories__item_type_snack:hover {
  list-style-image: url("/src/images/markers/apple-hover.svg");
}

.categories__item_type_all {
  list-style-image: url("/src/images/markers/salad.svg");
}

.categories__item_type_all:hover {
  list-style-image: url("/src/images/markers/salad-hover.svg");
}

@media (max-width: 1024px) {
  .navigation {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .navigation {
    gap: 5px 5px;
    width: 70%;
  }
}
