.nav-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    background-color: transparent;
    display: flex;
    column-gap: 5px;
}

.nav-buttons__item {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    max-width: 35px;
    max-height: 35px;
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  
  .nav-buttons__item:hover {
    -webkit-transform: scale(120%);
    -ms-transform: scale(120%);
    transform: scale(120%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  @media (max-width: 768px) {
    .nav-buttons__item {
      max-width: 30px;
      max-height: 30px;
    }
  }