@import url(../src/vendor/fonts.css);

body {
  margin: 0;
  background-color: #f9fafc;
  font-family: "Gentium Book Plus", "Times";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-style: italic;
  font-weight: bold;
}

h2, h3, h4 {
  font-weight: bold;
}

h5, h6, .navigation-link, span, li, .main-link, button, input, fieldset, label {
  font-weight: normal;
}
