@import url(../src/vendor/reset.css);
@import url(../src/vendor/fonts.css);

:root {
  /* для текста */
  --color1: #172228;
  /* для выделения различных объектов */
  --color2: #E6D0CA;
  /* цвет для ошибки */
  --color3: #5d1c34;
  /* цвет страницы и надписей */
  --color4: #f9fafc;
  /* цвет для тени у элементов */
  --color5: #EEE4DB ;
}

::marker {
  color: dimgray;
}

::placeholder {
  font-style: italic;
  color: rgba(61, 61, 64, 0.4);
  letter-spacing: 1px;
}

html {
  font-size: 100px;
}

body {
  margin: 0;
  background-color: var(--color4);
  font-family: "Gentium Book Plus", Times;
}

header,
footer {
  padding: 7px 30px;
  background-color: var(--color4);
}

h1 {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {
  html {
    font-size: 80px;
  }

  header,
  footer {
    padding: 7px 15px;
  }
}