@import url(../src/vendor/reset.css);
@import url(../src/vendor/fonts.css);

:root {
  /* для текста */
  --color1: #3d3d40;
  /* зеленый для выделения различных объектов */
  --color2: #26d0aa;
  /* цвет для ошибки */
  --color3: #e06666;
  /* цвет страницы и надписей */
  --color4: #f9fafc;
  /* цвет для тени у элементов */
  --color5:  #e3e4e6;
}

::marker {
  color: dimgray;
}

::placeholder {
  font-style: italic;
  color: rgba(61, 61, 64, 0.4);
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: var(--color4);
  font-family: "Gentium Book Plus", Times;
}

h1 {
  font-style: italic;
  font-weight: bold;
}

h2, h3, h4 {
  font-weight: bold;
}

h5, h6, span, li, a, button, input, fieldset, label {
  font-weight: normal;
}
