.contacts {
  width: 100%;
}
.contacts-main-image {
  width: 80%;
  min-width: 300px;
  max-width: 768px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.contacts-title {
  text-align: center;
}

.contacts-description {
  margin: 15px 0 0;
  width: 80%;
  min-width: 300px;
  text-align: center;
}

.contacts-form {
  min-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px 30px;
}

.contacts-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contacts-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contacts-form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contacts-form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contacts-form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.contacts-form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.contacts-fieldset {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
  padding: 0;
}

.contacts-fieldset_size_big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.contacts-label {
  display: flex;
  flex-direction: column;
}

.contacts-input {
  margin-top: 7px;
  color: var(--color1);
  border: 1px solid rgba(61, 61, 64, 0.15);
  padding: 10px 20px;
  vertical-align: baseline;
}

.contacts-input:active,
.contacts-input:focus {
  outline: 0;
  outline-offset: 0;
  border: 1px solid var(--color2);
}

.contacts-input_size_big {
  height: 100px;
}

.input-status {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.input-status_last {
  bottom: 30px;
}

.contacts-input:invalid + .input-status::before {
  content: "✖";
  color: var(--color3);
  font-size: 0.15rem;
}

.contacts-input:valid + .input-status::before {
  content: "✓";
  color: var(--color2);
  font-size: 0.15rem;
}

.contacts-input:invalid:-moz-placeholder-shown {
  border: 1px solid rgba(61, 61, 64, 0.15);
}

.contacts-input:invalid:-ms-input-placeholder {
  border: 1px solid rgba(61, 61, 64, 0.15);
}

.contacts-input:invalid:placeholder-shown {
  border: 1px solid rgba(61, 61, 64, 0.15);
}

.contacts-input:invalid:-moz-placeholder-shown + .input-status::before,
.contacts-input:-moz-placeholder-shown + .input-status::before {
  visibility: hidden;
}

.contacts-input:invalid:-ms-input-placeholder + .input-status::before,
.contacts-input:-ms-input-placeholder + .input-status::before {
  visibility: hidden;
}

.contacts-input:invalid:placeholder-shown + .input-status::before,
.contacts-input:placeholder-shown + .input-status::before {
  visibility: hidden;
}

.contacts-button {
  border: none;
  background-color: transparent;
  height: 50px;
  position: relative;
  padding: 14px 20px;
  -ms-grid-column-align: center;
  justify-self: center;
  line-height: 1;
}

.contacts-button:hover {
  cursor: pointer;
}

.contacts-button_disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

@media (max-width: 768px) {
  .contacts-title {
    max-width: 90%;
  }

  .contacts-form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 70px 15px 70px 15px 150px 15px auto 15px auto;
    grid-template-rows: repeat(2, 70px) 150px repeat(2, auto);
    grid-gap: 15px 0px;
  }

  .contacts-form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .contacts-form > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .contacts-form > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .contacts-form > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .contacts-form > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }

  .contacts-fieldset_size_big {
    -ms-grid-column: 1;
    grid-column: 1 / 1;
  }
  .contacts-button {
    height: 30px;
    padding: 7px 10px;
  }
}
