.nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.nav-tab-main-link,
.nav-tab-title {
  position: relative;
  padding: 14px 20px;
}

.nav-tab-title {
  display: inline-block;
  text-shadow: 1px 1px 1px var(--color1);
}

.nav-tab-title::before {
  content: " ";
  background: var(--color1);
  width: 1px;
  height: 50%;
  left: -15px;
  top: 25%;
  position: absolute;
}

@media (max-width: 768px) {
  .nav-tab {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .nav-tab-main-link,
  .nav-tab-title {
    padding: 7px 10px;
  }

  .nav-tab-title::before {
    left: -10px;
  }
}
